:root {
    font-size: 16px;
}
body {
    margin: 0;
    font-family: "Lato";
}
a{
    text-decoration: none;
}
header {
    background-color: #F5EDE0;
    padding: 1px;
}
.nav_and_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 4% 0 4%;
}
.logo {
    width: 4.375rem;
    height: 4.375rem;
}
ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}
.nav_icon {
    width: 0.9375rem;
    padding-right: 0.25rem;
}
.nav_li a{
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.nav_li{
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    white-space: nowrap;
    border-radius: 6px;
    transition: 0.3s;
}
.nav_li:hover {
    background-color: #DCD5C9;
}
/*=============================================*/
